In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from langchain_community.utilities import SQLDatabase



sqlite_uri = 'sqlite:///./HRDataset.db' 
db = SQLDatabase.from_uri(sqlite_uri)

# db = SQLDatabase.from_uri(
#     f"postgresql+psycopg2://postgres:19fes44fanko@localhost:5432/Reddit",
# )

In [14]:
from langchain_core.prompts import (
    ChatPromptTemplate,
    FewShotPromptTemplate,
    MessagesPlaceholder,
    PromptTemplate,
    SystemMessagePromptTemplate,
)

In [22]:
prompt=ChatPromptTemplate.from_messages(
    [
        ("system",
        """
        You an expert HR assistant.Your job is to answer the queries of HR from the database.
        If the query is not related to the database, then dont query the database for that.
        """
        ),
        ("user", "{question}\ ai: ")
    ]
)

In [3]:
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI
from langchain.sql_database import SQLDatabase

In [ ]:
from langchain

In [4]:
llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)

sql_toolkit=SQLDatabaseToolkit(db=db,llm=llm)
sql_toolkit.get_tools()

c:\Users\usman\anaconda3\anacondad\envs\mysql\Lib\site-packages\langchain_core\_api\deprecation.py:117: LangChainDeprecationWarning: The class `langchain_community.chat_models.openai.ChatOpenAI` was deprecated in langchain-community 0.0.10 and will be removed in 0.2.0. An updated version of the class exists in the langchain-openai package and should be used instead. To use it run `pip install -U langchain-openai` and import as `from langchain_openai import ChatOpenAI`.
  warn_deprecated(

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002111AB8AF50>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002111AB8AF50>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002111AB8AF50>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002111AB8AF50>, llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x0000021123F64C10>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x0000021123F74B50>, temperature=0.0, openai_api_key='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', openai_proxy=''), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x0000021123F64C10>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x0000021123F74B50>, temperature=0.0, openai_api_key='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', openai_proxy='')))]

In [5]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI
from langchain.memory import ConversationBufferMemory

# memory = ConversationBufferMemory(memory_key="history", return_messages=True)

llm = ChatOpenAI(model="gpt-4", temperature=0)
agent_executor = create_sql_agent(llm,toolkit=sql_toolkit ,agent_type="openai-tools",verbose=True)

In [26]:
query="give me the data of jack torrence"

# response=agent_executor.run(query)

response=agent_executor.run(prompt.format_prompt(question=query))

> Entering new SQL Agent Executor chain...
The HR is asking for data related to an individual named Jack Torrence. I need to find out which table in the database contains this information.
Action: sql_db_list_tables
Action Input: ""HRDataThe database contains a table named HRData. This table might contain the information about Jack Torrence.
Action: sql_db_schema
Action Input: "HRData"
CREATE TABLE "HRData" (
	"Employee_Name" TEXT,
	"EmpID" INTEGER,
	"MarriedID" INTEGER,
	"MaritalStatusID" INTEGER,
	"GenderID" INTEGER,
	"EmpStatusID" INTEGER,
	"DeptID" INTEGER,
	"PerfScoreID" INTEGER,
	"FromDiversityJobFairID" INTEGER,
	"Salary" INTEGER,
	"Termd" INTEGER,
	"PositionID" INTEGER,
	"Position" TEXT,
	"State" TEXT,
	"Zip" INTEGER,
	"DOB" TEXT,
	"Sex" TEXT,
	"MaritalDesc" TEXT,
	"CitizenDesc" TEXT,
	"HispanicLatino" TEXT,
	"RaceDesc" TEXT,
	"DateofHire" TEXT,
	"DateofTermination" TEXT,
	"TermReason" TEXT,
	"EmploymentStatus" TEXT,
	"Department" TEXT,
	"ManagerName" TEXT,
	"ManagerID" REAL,
	"RecruitmentSource" TEXT,
	"PerformanceScore" TEXT,
	"EngagementSurvey" REAL,
	"EmpSatisfaction" INTEGER,
	"SpecialProjectsCount" INTEGER,
	"LastPerformanceReview_Date" TEXT,
	"DaysLateLast30" INTEGER,
	"Absences" INTEGER
)

/*
3 rows from HRData table:
Employee_Name	EmpID	MarriedID	MaritalStatusID	GenderID	EmpStatusID	DeptID	PerfScoreID	FromDiversityJobFairID	Salary	Termd	PositionID	Position	State	Zip	DOB	Sex	MaritalDesc	CitizenDesc	HispanicLatino	RaceDesc	DateofHire	DateofTermination	TermReason	EmploymentStatus	Department	ManagerName	ManagerID	RecruitmentSource	PerformanceScore	EngagementSurvey	EmpSatisfaction	SpecialProjectsCount	LastPerformanceReview_Date	DaysLateLast30	Absences
Adinolfi, Wilson  K	10026	0	0	1	1	5	4	0	62506	0	19	Production Technician I	MA	1960	07/10/83	M 	Single	US Citizen	No	White	7/5/2011	None	N/A-StillEmployed	Active	Production       	Michael Albert	22.0	LinkedIn	Exceeds	4.6	5	0	1/17/2019	0	1
Ait Sidi, Karthikeyan   	10084	1	1	1	5	3	3	0	104437	1	27	Sr. DBA	MA	2148	05/05/75	M 	Married	US Citizen	No	White	3/30/2015	6/16/2016	career change	Voluntarily Terminated	IT/IS	Simon Roup	4.0	Indeed	Fully Meets	4.96	3	6	2/24/2016	0	17
Akinkuolie, Sarah	10196	1	1	0	5	5	3	0	64955	1	20	Production Technician II	MA	1810	09/19/88	F	Married	US Citizen	No	White	7/5/2011	9/24/2012	hours	Voluntarily Terminated	Production       	Kissy Sullivan	20.0	LinkedIn	Fully Meets	3.02	3	0	5/15/2012	0	3
*/The HRData table contains a field named "Employee_Name". This is likely where I can find information about Jack Torrence. I will write a SQL query to retrieve all data for Jack Torrence.
Action: sql_db_query_checker
Action Input: "SELECT * FROM HRData WHERE Employee_Name = 'Jack Torrence'"SELECT * FROM HRData WHERE Employee_Name = 'Jack Torrence';The SQL query syntax is correct. Now I will execute this query to retrieve the data.
Action: sql_db_query
Action Input: "SELECT * FROM HRData WHERE Employee_Name = 'Jack Torrence'"The query returned no results. This means that there is no employee named Jack Torrence in the HRData table.
Final Answer: There is no data available for an employee named Jack Torrence in the HRData table.

> Finished chain.

In [27]:
print(response)

There is no data available for an employee named Jack Torrence in the HRData table.